name: CI

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  format-check:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Install clang-format
      run: sudo apt-get install -y clang-format

    - name: Check code formatting
      run: |
        find . -path "./code_sample/SD_Card_SPI_FatFs/Drivers" -prune -o -path "./code_sample/SD_Card_SPI_FatFs/Middlewares" -prune -o -path "./code_sample/SD_Card_SPI_FatFs/Core/Inc" -prune -o -name "*.c" -o -name "*.h" -print | xargs clang-format --dry-run --Werror --style=file

  build-check:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Install build tools
      run: sudo apt-get install -y gcc make

    - name: Check compilation
      run: |
        # Since this is embedded code, we can't fully build without STM32 SDK
        # But we can check syntax with gcc
        gcc -fsyntax-only -IInc Src/*.c 2>&1 | head -20